<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resource/css/grid.css" type="text/css" />

    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>


    <title>区块链性能测量结果</title>
    {% endblock head%}
</head>

<body>
    <div class="layout">
        <div class="header">区块链优化平台</div>

        <div class="leftSide">
            <ul id="side_ul">
                <li>安全基础资源库</li>
                <li>长安链多尺度度量
                    <ul>
                        <li> <a href="/">微观指标度量</a></li>
                        <li> <a href="/changanlian_metric_2">介观、宏观指标度量</a> </li>
                    </ul>
                </li>
                <li>攻击复现
                    <ul>
                        <li>XXX攻击</li>
                        <li>YYY攻击</li>
                        <li>贿赂攻击</li>
                    </ul>
                </li>
                <li>区块链本征优化
                    <ul>
                        <li>流水线共识</li>
                        <li>智能合约漏洞优化</li>
                    </ul>
                </li>
                <li>压力分解与卸载
                    <ul>
                        <li>链下通道</li>
                    </ul>
                </li>
                <li>动态自适应优化
                    <ul>
                        <li>强化学习</li>
                    </ul>
                </li>
            </ul>
        </div>


        <div id="content">{% block main_content %}{% endblock main_content%} </div>
    </div>
</body>

</html>